.list{

    &-item{
        &-link{
                        position: relative;
    display: flex;
    min-height: 4.8rem;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.6rem;
    color: #212121;
    @include pseudo(#eee, #212121);
        }
    }
    &-name {
        font-size: 1.6rem;
        color: #212121;
        
       margin-bottom: 0.5rem;
    }
    &-description {padding-top: .3rem;
    font-size: 1rem;
        color: #757575;
        white-space: normal;
    }
}